/* #region icon */

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &__wrapper {
    position: relative;
  }

  &--number {
    position: absolute;
    top: -5px;
    left: -140px;
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  @include onDesktop{
    &__wrapper:hover &--number {
      transform: translateX(-30px);
      opacity: 1;
    }
  }



  &--phone {
    background-image: url('./../images/icons/icon-phone.svg');
  }

  &--menu {
    background-image: url('./../images/icons/icon-burger-menu.svg');

    &:hover {
      background-image: url('./../images/icons/icon-burger-menu-hover.svg');
    }
  }

  &--close {
    background-image: url('./../images/icons/icon-close.svg');
  }
}
